*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the stying above is called css reset, it's used to remove the default spacing and some default styling from the html elements */


body{
    background-color: green;
}

nav{
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    font-weight: 900;
}

ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
.link{
    text-decoration: none;
}
img{
    width: 500px;
}