*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the stying above is called css reset, it's used to remove the default spacing and some default styling from the html elements */


body{
    background-color: green;
}

nav{
    display: flex;
    background-color: lch(92.25% 10.61 62.42);
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.anchor{
    text-decoration: none;
}
img{
    width: 200px;
}