{% extends "base.html" %}

{% block content %} 
<br>
    <centre><h1>Background of Source Global</h1></centre> 
    <p>Source Global engages on various aspect of life, such as Accademics, Health and Fitness, Fasion and Style etc.</p>
    <p>Source Global is an entity that deals with various aspect of our existency. We evolve around accedemics, Health and Fitness, Fashion and Style, Culture and Tourism, Travels and hospitalty, Sport and Gaming, Account and Finance, Counceling and Advises, Food and Dieting etc.</p>
    <br>
{% endblock content %}
