{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Document</title>
</head>
<body>
    <nav class="logo">
      <div><strong>Logo</strong></div>

        <ul> 
            <li><a class="anchor" href="/"><strong>Home</strong></a></li>
            <li><a class="anchor" href="/purpose"><strong>Purpose</strong></a></li>
            <li><a class="anchor" href="/contact"><strong>Contact</strong></a></li>
            <li><a class="anchor" href="/about"><strong>About</strong></a></li>
            <li><a class="anchor" href="/objective"><strong>Objective</strong></a></li>
            <li><a class="anchor" href="/background"><strong>Background</strong></a></li>
        </ul> 
       
    </nav>
    
   
    {% block content %}
    {% endblock content %}


    <footer>
        foot design &copy; 2025
    </footer>
</body>
</html>