{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <br>
        <h1>Hi, I am Eric, the Managing Director of Source Global.</h1>
        <br>
        <p>Source Global engages on various aspect of life, such as Accademics, Health and Fitness, Fasion and Style etc.</p>
        <p>Source Global is an entity that deals with various aspect of our existency. We evolve around accedemics, Health and Fitness, Fashion and Style, Culture and Tourism, Travels and hospitalty, Sport and Gaming, Account and Finance, Counceling and Advises, Food and Dieting etc.</p>
        <p>We are service oriented entity. We render services such as; Acedemics, Health Services, Culture and Tourism, Accounting and Finance Services, Food and Nutrional Services.</p>
        <p>We are committed to make sure that within our first two years in operation, the problem of poor nutrition, unhealthy leaving, poor financial management and increased number of unskilled population.</p>
        <p>Our products include; Education, food and Nutrition, Effective of Herbal and Alternative Medicine, Finance Intellegent and Tech-skills.</p>
        <p>Our Mission is to put our clients' health first, by making sure that we encourage them by advising them on important of proper nutrition, goodd sleep and regular exercises.</p>
        <p>We also aim at making sure that our clients' have keep being hydrated by regular daily water intakes. Lets not all wait to rink water only when we are taisty but a regular intervals in other to keep the body system well regulated and to aidd proper blood circulation.</p>
        <p>We talk to our clients on Herbal Altenative Madicine. with proper measurement, our herbs are natural and non-chemicalised medicine at which if rightly applied or used, we stand to enjoy numerious health benefits from it.</p>
        <p>A regular exercise is very important for a better health and welbeing. A regular Work of Life, daily jugging, a long work-out and other indoor exercises will help to keep the body fit and in a good shape.</p>
        <p>Since culture is our history, our heritage and our way of life, there is need we improve and acknowledge our culture and by keeping it alive, we incoporate it need with tourism as another means on income generation.</p>
        <p>Tech is the key driver of today's economy globally.We encourage our clients to take advantage of the trend to drive towards the global economic movement which is ICT. Among the few we have Cyber-security, Networking, data management and analyses, programing, forex and cryptology and other digital activities.</p><br>
 
        <img src=" {% static "images/Untitled design.png" %} " alt="" width=''><br>
    </main>
   
{% endblock content %}
